@media (max-width: 1199.5px){

    .card{
        padding: 2.5rem 1.875rem;
    }

    .header-wrapper .navbar-nav .nav-link{
        font-size: 1rem;
    }

    .header-wrapper .animate-img .aimg1{
        left: -3.125rem;
    }

    .about-wrapper .card{
        width: 100%;
    }

    .about-wrapper .about-animate{
        left: .9375rem;
    }

    .services-wrapper .card{
        padding: 1.875rem 1.25rem;
    }
    
}

@media (max-width: 991px){

    .wrapper{
        padding: 3.125rem 0;
    }
    .main-btn{
        font-size: .875rem ;
    }
    h1{
        font-size: 2.8125rem;
        margin-bottom: .625rem;
    }
    h2{
        font-size: 1.875rem;
    }
    h3{
        font-size: 1.5625rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1.125rem;
    }
    p{
        font-size: .875rem;
        line-height: 1.35rem;
    }
    .card{
        padding: 1.875rem 1rem;
    }

    .header-scrolled{
        height: auto;
    }

    .header-wrapper .menu-navbar-nav{
        text-align: center;
    } 

    .header-wrapper .nav-item .nav-link{
        margin-top: .9375rem;
    }

    .banner-wrapper p{
        max-width: 100%;
    }

    .about-wrapper .about-clinic:nth-child(1),
    .about-wrapper .about-clinic:nth-child(2){
    margin-bottom: 1.5625rem;
    }

    .about-wrapper .about-clinic:nth-child(2),
    .about-wrapper .about-clinic:nth-child(4){
    padding-left: 2.375rem;
    }

    .services-wrapper .card{
        padding: 1.875rem .875rem;
    }

    .blog-wrapper .card .blog-content{
        padding: 1.875rem .625rem;
    }



    
}

@media (max-width: 767px){

    .main-btn{
        font-size: .875rem ;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    h5{
        font-size: 1.25rem;
    }

    .about-wrapper .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-wrapper .about-clinic{
        width: 100% !important;  
        flex: 0 0 100% !important;
        padding-left: 0 !important;
        text-align: center;
    }

    .services-wrapper .card{
        text-align: center;
    }

    .blog-wrapper .card .blog-content{
        margin: 0;
    }
    .footer-wrapper{
        background-color: var(--primary-color);
        padding-bottom: 0;
    }

    .footer-wrapper>div{
        padding: 01.875rem;
    }
}

@media (max-width: 360px){

    .about-wrapper .about-animate{
        width: 6.875rem;
    }

    .about-wrapper .card{
        padding: 1.5rem .3125rem;
    }

    .about-wrapper .about-clinic:nth-child(2),
    .about-wrapper .about-clinic:nth-child(4){
        padding-left: .625rem;
    }

    .services-wrapper .icon-box{
        margin-bottom: .9375rem;
    }
}